---
/**
 * Site header component
 * Displays the main site title and navigation elements
 * 
 * Note: Social media integration was previously removed from this component
 * as part of a redesign focusing on core content
 */
---

<header class="header">
  <h1 class="title">YourGamertag</h1>
  <!-- Filter buttons removed as part of social media integration removal -->
</header>
